<div class= "container text-center">
 <h1>About Page</h1>
 <p>Hello!! We are kinleysss. we are water. we are air. we are Nature.The world
 is in danger and we need to save it.Join hands, come helps bring new ideas and 
 innovation so that our future generation can live in a safe and secure 
 environment. </p>
</div>