<!DOCTYPE html>
<html>
  <head>
    <title>Saasapp</title>
    <%= csrf_meta_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Yomogi&family=Zen+Tokyo+Zoo&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <nav class="navbar navbar-dark bg-dark">

  <!-- Navbar content -->
      </nav>
      
    <nav class="navbar navbar-dark bg-primary">
         <a href="/" class="navbar-brand"><i class="fa fa-solid fa-otter"></i> AN AWS PAGE</a>

  <!-- Navbar content -->
    </nav>

    <nav class="navbar navbar-light , container" style="background-color: #e3f2fd;">
      <a href="/about">About</a>

  <!-- Navbar content -->
    </nav>
    <%= yield %>
    
  </body>
</html>
